.fileDownload{
  padding: 1rem 15px;
  border-radius: 5px;
  background-color: #011627;
  color: white;
}

.fileDownloadInputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.fileDownloadInputContainer label{
  font-size: 1.5rem;
  font-weight: 500;
}

.fileDownloadInputContainer input{
  width: 300px;
  height: 30px;
  outline: none;
  font-size: 1rem;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.buttonsContainer > button{
  background: #E0E0E0;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #66788F;
  cursor: pointer;
}

.buttonsContainer > button:hover{
  background-color: #ABB6C4;
}

.buttonsContainer > button[type='submit']{
  background-color: #ABB6C4;
  color: black;
}
.buttonsContainer > button[type='submit']:hover{
  background-color: #E7EAEE;
}

.hidden{
  position: absolute;
  left: -99999px;
  top: -99999px;
  opacity: 0
}